*{
padding: 0;
margin: 0;

}

.header-container{
  width: 100%;
  margin-top: 5rem;
}

.header{
display: flex;
justify-content: center;
font-size: 4rem;
}



.input-container{
width: 100%;
display: flex;
justify-content: center;
margin-top: 4rem;
}

#main-input{
width: 30rem;
height: 3.5rem;
font-size: 2rem;
}

.main-form{
display: flex;

}


#main-btn{
margin-left: .3rem;
width: 8rem;
}

.img-container{
  display: flex;
  justify-content: center;
padding-top: .5rem;
}

.poke-img{

  max-height: 20rem;
  max-width: 15rem;
padding-right: 1rem;
padding-left: 1rem;
}

#poke-container{
width: 100%;
display: flex;
justify-content: center;
}

.poke-center{
  
  box-shadow: 0 0 15px 0;
  margin: 1rem;
  border-radius: 20px;
  width: 40%;
 
}

.noDisplay{

display: none;

}

.poke-selector{
display: flex;
justify-content: center;
flex-direction: column;
}

.info-container{
display: flex;
justify-content: center;

}

.text-container{
  padding: .5rem .5rem 1rem 1rem;
  font-family: 'Roboto Mono', monospace;
}

.poke-icon{
display: flex;
justify-content: center;
align-items: center;
}



#blue{
    background-color: lightblue;
}

#pink{

background-color: #d5a6bd;

}

#normal{

background-color:	#FFFFE0;

}

#red{

background-color: #FF7F7F;

}

#purple{

background-color: #CBC3E3;

}

#brown{
background-color: #c7b19a;
}

#green{

    background-color: #90EE90;
    
    }
#bug{

    background-color: #9ac7b1;
}

#yellow{
    background-color:#FFFF99;

}

#orange{
    background-color: #FFD580;
}

#grey{
 background-color: #d3d3d3;
}

#psychic{

    background-color: #a167c9;
}

#dragon{
    background-color: #145DA0
};

#ice{
    background-color: #2E8BC0;
}

#ghost{
    background-color:#7700b2 ;
}

#ice{
    background-color: #DBF1FD;
}

#dark{
    background-color: #999999;
}
