*{
    padding: 0;
    margin: 0;
    
    }

#navbar{
background-color: #E74C3C ;
margin: 0;
height: 4rem;
}

.images-container{
    padding-left: 1rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
   
}

.main-image{
height: 3rem;
}